#fangaroo {
    max-width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #333;
    padding: 15px;
    background: #383737;
    box-shadow: 10px 8px 8px #333333;
    border-radius: 5px;
}

body {
    background: rgb(26, 26, 26);
}

